@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&family=Poppins:wght@100;300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
/* nav bar styling */
li{
    list-style: none;
}
.naa{
    padding-bottom: 8px;
}
.main-logo{
    margin: 0 10px;
}
.navbar{
    background: rgb(28,27,28);
background: linear-gradient(90deg, rgba(28,27,28,1) 8%, rgba(21,142,138,1) 100%);
}
.nav-links{
    padding: 5px 9px;
    color: #e6e6e6;
    font-size: 18px;
    border: 1px solid #fff;
    margin: 0 8px;
    border-radius: 4px;
    text-transform: uppercase;
    transition: all 0.2s;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}
.nav-links:hover{
    color: rgb(14, 58, 139);
    background: rgb(212, 236, 211);
    border: none;
}
/* nav bar styling */
/* carousel styling */
.bgbg{
    border-radius: 2px;
    font-family: 'Poppins', sans-serif;

}
/* carousel styling */
/* jumborton 1 */
.jumb1{
    background: rgb(221,153,221);
background: linear-gradient(90deg, rgba(221,153,221,1) 8%, rgba(21,142,138,1) 100%);
width: fit-content;
box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
margin-left: 40px;
line-height: 40px;
}
.jumb2{
    background: rgb(211,221,153);
background: linear-gradient(90deg, rgba(211,221,153,1) 8%, rgba(21,122,142,1) 100%);
margin-left: 40px;
box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.li-jumb{
    list-style: bullet;
}
.btns{
    border: 1px solid #333;
    font-size: small;
    transition: all 0.3s;
}
.btns:hover{
    background-color: #333;
    color: #e6e6e6;
}
/* jumborton 1 */

/* culture's section */
.cultr{
    margin-top: 60px;
}


.wrapper{
    width: 100vw;
    min-height: 50vh;
}

.wrapper .card{
    width: 300px;
    height: 300px;
    border: none;
    box-shadow: 10px 10px 15px #1f1f1f1a,
                -10px -10px 15px #1f1f1f1a;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    transition: all 0.9s;
    border-radius: 0px;
}

.wrapper .card:hover{
    transform: translateY(50%);
    border: none;
}

.wrapper .card .img-container{
    z-index: 1;
    transform-style: preserve-3d;
    transform-origin: top;
    background-color: #000;
    transition: all 0.9s;
    box-shadow: 10px 10px 15px #1f1f1f1a,
                -10px -10px 15px #1f1f1f1a;
}

.wrapper .card:hover .img-container{
    transform: rotateX(180deg);
}

.wrapper .card .img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.wrapper .card .img-container img:nth-child(2){
    transform: rotateX(-180deg);
}

.wrapper .card .box{
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.wrapper .card .box .inner-content .tag{
    font-size: 0.87rem;
    letter-spacing: 1px;
}

@media (max-width:330px) {
    .wrapper .card{
        width: 290px;
        height: 290px;
    }
}
.btns{
    width: fit-content;
    position: relative;
    left: 100px;
}
.btn1{
    width: fit-content;
    position: relative;
    left: 200px;
    border: 1px solid #333;
    font-size: small;
    transition: all 0.3s;
}
.btn1:hover{
    background-color: #333;
    color: #e6e6e6;
}
.add-on{
    margin-top: 150px;
    position: relative;
    left: 500px;
    transition: all .2s ease-in-out;
}
.add-on:hover{
    transform: scale(1.2);
}
/* culture's section */

/* parallax  */
.parallax{
    background-image: url("https://www.insidehimalayas.com/wp-content/uploads/2016/04/nepal-everest-1.jpg");
min-height: 500px;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
margin-top: 60px;
}
@media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  }
.parallax-title{
    position: relative;
    top: 200px;
    left: 300px;
    color: #e6e6e6;
    text-shadow: 2px 2px #1f1b1b;

}  
/* parallax  */

/* visit section */
.imgs{
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 13px;
}
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 43px;
}
.bottom-left2{
    position: absolute;
    top: 320px;
    left: 725px;
    color: #333;
}
.bottom-left3{
    position: absolute;
    top: 250px;
    left: 775px;
    color: #333;
}
.bottom-left4{
    position: absolute;
    top: 250px;
    left: 45px;
    color: #333;
}
.bottom-left5{
    position: absolute;
    top: 250px;
    left: 545px;
    color: #333;
}
.bottom-left6{
    position: absolute;
    top: 255px;
    left: 45px;
    color: #333;
}
.row{
    position: relative;
    text-align: center;
    color: white;
}
.btni{
    position: relative;
    top: 150px;
}
.btnss{
    padding: 6px 9px;
    border: 2px solid black;    
    background: none;
    color: #333;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s;
}
.btnss:hover{
    background: #333;
    color: #fff;
}
/* visit section */
/* food section */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; 
  }
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }
  .btnsss{
    position: relative;
    top: 110px;
    left: 650px;
    padding: 6px 9px;
    border: 2px solid black;    
    background: none;
    color: #333;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s;
  }
  .btnsss:hover{
    background: #333;
    color: #fff;
  }
/* food section */
/* festival section  */
.btn-fest{
    position: relative;
    left: 576px;
    padding: 6px 9px;
    border: 2px solid black;    
    background: none;
    color: #333;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s;
}
.btn-fest:hover{
    background: #333;
    color: #fff;
}
/* festival section  */
/* culture section */
.btn-cultr{
    position: relative;
    top: 40px;
    left: 0px;
    padding: 6px 9px;
    border: 2px solid black;    
    background: none;
    color: #333;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s;
}
.btn-cultr:hover{
    background: #333;
    color: #fff;
}
/* culture section */

/* footer */
  .footer-details{
      position: relative;
      top: 300px;
  }
/* footer */